<!DOCTYPE html>
<html>
<head>
    <title>Frontend</title>
</head>
<body>
    <h1>Mit einem Klick auf "Senden" wird das derzeitige Datum ans Backend übertragen</h1>
    <form action="/backend" method="post">
        <input type="hidden" name="date" value="" id="date" />
        <input type="submit" value="Senden" onclick="setHiddenDate()" />
        <script type="text/javascript">
            function setHiddenDate() {
                var input = document.getElementById('date');
                input.value = new Date();
            }
        </script>
    </form>
</body>
</html>
